@import "tailwindcss";

/* Base reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  background-color: #ffffff;
  color: #0f172a;
}

/* remove default browser styles */
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

/* Optional smooth scroll */
html {
  scroll-behavior: smooth;
}
